.grey {
    background-color: #F2F2F2;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




.move {
    position: relative;
    left: 130px;
    top: -54px;
}

.move1 {
    position: relative;
    left: -420px;
}

.orange {
    color: #F7941D;
}

.main-shadow {
    box-shadow: rgb(255, 239, 213, 0.3) 0px 0px 0px 3px;

}